@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #666;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}